<h1>Minhas Emoções</h1>

<%= link_to "Registrar nova emoção", new_emotion_path %>

<% if @emotions.empty? %>
  <p>Nenhuma emoção registrada ainda.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Data e Hora</th>
        <th>Emoção</th>
        <th>Intensidade</th>
        <th>Anotação</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @emotions.each do |emotion| %>
        <tr>
          <td><%= emotion.recorded_at.strftime("%d/%m/%Y às %H:%M") %></td>
          <td><%= emotion.mood %></td>
          <td><%= emotion.intensity %>/10</td>
          <td><%= emotion.note %></td>
          <td><%= link_to "Ver", emotion_path(emotion) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>